.wrapper {
  @apply flex cursor-pointer items-center space-x-3;
}

.checkbox {
  @apply h-5 w-5 appearance-none rounded !bg-white;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.label {
  @apply font-medium;
}

.checkbox::before {
  content: '';
  width: 12px;
  height: 12px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 70%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  @apply bg-green-600;
}

.checkbox:checked::before {
  transform: scale(1);
}
